*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 60%,rgb(255, 253, 208, 1) 50% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    
}
.row2{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    flex-direction: row-reverse;
}
.text-col{
    flex: 1;
}

.homepageImage{
    flex: 1;
    text-align: right;
}

.homepageImage img{
    width: 550px;
    height: auto;
}
.logo{
  width: 60px;
    cursor: pointer;
}

.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #005587;
    text-decoration: none;
    font-size: 18px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8BB8E8;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;

}
.collab-col img{
    width: 90px;
    height: auto; 
    padding: 15px;  
}
.content{
    margin-top: 14%;
    color: #8BB8E8;
    max-width: 620px;
}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px){
     .content h1{
        font-size: 20px;
     }
     .nav-links ul li{
        display: block;
     }
     .nav-links{
        position: absolute;
        background: #005587;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
     }
     nav .fa-solid{
    display: block;
    color: #8BB8E8;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.nav-links ul{
    padding: 30px;
}
    .row{
        flex-direction: column;
        align-items: center;
    }
    .row2{
        flex-direction: column !important;
        align-items: center;
        
    }
    .overview-col, .profContext-col, .outlook-col{
        flex-basis: 100% !important;  /* full width on mobile */
        max-width: 500px;  /* optional, keeps images from being too wide */
        padding: 10px 0; /* reduce padding on mobile */
    }
    .overview-col img, .profContext-col img, .outlook-col img{
        width:70%;
    }
    .snapshot-col, .training-col, .laborTrends-col{
        flex-basis: 100% !important;  /* full width on mobile */
        max-width: 500px;  /* optional, keeps images from being too wide */
        padding: 10px 0; /* reduce padding on mobile */
    }
    .snapshot-col img, .training-col img, .laborTrends-col img{
        width:70%;
    }
}
/*----- Annotated Bibliography ------*/
.annotatedBib{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:300px;
    padding-bottom: 400px;
}
.annotatedBib p{
 text-indent: 30px; }
h2{
    font-size: 36px;
    font-weight: 600;
    color: #005587;
}
p{
    color: #005587;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*----- End Cap ------*/
.endCap{
    width: 100%;
    margin: auto;
    text-align: left;
    background-color:rgba(255, 253, 208, 1);
    
}

.collaborators{
     width: 80%;
    margin: auto;
    text-align: center;
    padding-top:400px;
    padding-bottom: 100px;

}
h3{
    font-size: 30px;
    font-weight: 600;
    color: #8BB8E8;
}


/*----- Context Page ------*/
.sub-header{
     width: 100%;
    height: 50vh;
    background-color:rgba(255, 253, 208, 1);
    background-size: cover;
    background-position: center;
    color: #005587;
    padding: 10px 8%;
}

.sub-header h2{
    margin-top: 250px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #005587;
    
}

.overview{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.overview-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.overview-col img{
    width: 50%;
}
.overview-col h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}

.profContext{
     width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.profContext-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.profContext-col img{
    width: 50%;
}
.profContext-col h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}
.outlook{
     width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.outlook-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.outlook-col img{
    width: 50%;
}
.outlook-col h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}
h1{
    font-size: 100px;
    font-weight: 600;
    color: #005587;
}

/*----- Interview Page ------*/
.patty{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.patty-col{
     flex-basis: 48%;
    padding: 30px 2px;
}
.patty-col h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}
video{
   width: 720px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 10px solid #005587;
    border-style: groove;
}
.interviewText{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.interviewText h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}

/*----- Analysis Page ------*/

.snapshot{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.snapshot-col{
     flex-basis: 48%;
    padding: 30px 2px;
}
.snapshot-col h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}
.training{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.training-col{
     flex-basis: 48%;
    padding: 30px 2px;
}
.training-col h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}
.laborTrends{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top:1px;
    padding-bottom: 100px;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 253, 208, 1) 30%,rgba(255, 253, 208, 1) 70% ), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.laborTrends-col{
     flex-basis: 48%;
    padding: 30px 2px;
}
.laborTrends-col h1{
    font-size: 45px;
    font-weight: 600;
    color: #005587;
}

